.article-description {
  -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  height: 100px;
  overflow-y: scroll;
}
.article-description::-webkit-scrollbar {
  display: none;
}
.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.138);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.076);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.224);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.206);
  -ms-box-shadow: 0 0 10px rgba(0, 0, 0, 0.171);
}
