body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: transparent;
}
body::-webkit-scrollbar-thumb {
  background: #555657;
}
body::-webkit-scrolrlbar-thumb:hover {
  background: #555657;
}
.avatar-style {
  border: 2px solid grey !important;
}
@media only screen and (max-width: 600px) {
  .tags-wrapper {
    width: 85vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-row-gap: 0.5em;
  }
  .post-tags-wrapper {
    width: max-content;
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 0.5em;
  }
  .about-container {
    margin-top: 2em;
    flex-direction: column;
    height: max-content;
    width: 85vw;
    text-align: center;
  }
  .social-wrapper {
    display: flex;
    margin-top: 2em;
  }
  .article-wrapper {
    width: 85vw;
  }
  .logo-wrapper {
    width: 50px !important;
    height: 50px;
  }
}

.gradient-header {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  position: sticky;
  top: 0;
  z-index: 5;
}
